.modal-content {
    border-radius: 0px;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
  }

  .modal-backdrop.show {
    opacity: 0.0;
  }
  table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    font-size: small !important;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: small !important;
}

.dataTables_scrollBody {
    overflow: visible !important;
}
.box-body{
  margin-bottom:50px
}
.popover {
    width: 304px;
    max-width: 100%;
}
.txtMMStr{
    cursor: pointer;
}
.panel-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
}
.fc-day-grid-full-container
{
    overflow: visible !important;
}
